{% extends 'template.html' %}
{% load static %}
{% block body %}

<!-- header section starts  -->

<header>

    <div id="menu-bar" class="fas fa-bars"></div>

    <a href="#" class="logo"><span>T</span>urismo<span>R</span>eal</a>

    <nav class="navbar">
        <a href="#home">Inicio</a>
        <a href="#book">Reserva</a>
        <a href="#packages">Departamentos</a>
        <a href="#services">Servicios</a>
        <!--<a href="#gallery">Galeria</a>-->
        <a href="#review">Reseñas</a>
        <a href="#contact">Contacto</a>
    </nav>

    <div class="icons">
        <i class="fas fa-search" id="search-btn"></i>
        <i class="fas fa-user" id="login-btn"></i>
    </div>

    <form action="" class="search-bar-container">
        <input type="search" id="search-bar" placeholder="buscar...">
        <label for="search-bar" class="fas fa-search"></label>
    </form>

</header>

<!-- header section ends -->

<!-- login form container  -->

<div class="login-form-container">

    <i class="fas fa-times" id="form-close"></i>

    <form action="" method="POST">
        {% csrf_token %}
        <h3>Inicio Sesión</h3>
        <input type="text" class="box" placeholder="Ingresa tu nombre de usuario" name="username">
        <input type="password" class="box" placeholder="Ingresa tu contraseña" name="password">
        <input type="submit" value="Iniciar Sesión" class="btn">
        <input type="checkbox" id="remember">
        <label for="remember">Recordarme</label>
        <p>¿Olvidaste tu contraseña? <a href="#">Clickea aquí</a></p>
        <p>¿No tienes una cuenta? <a href="#">Registrate aquí</a></p>
    </form>

</div>

<!-- home section starts  -->

<section class="home" id="home">

    <div class="content">
        <h3>Descubre nuevos lugares</h3>
        <p>Encuentra y reserva alojamientos únicos en TurismoReal</p>
        <a href="#" class="btn">Descubir más</a>
    </div>

    <div class="controls">
        <span class="vid-btn active" data-src="{% static 'images/vid-1.mp4' %}"></span>
        <span class="vid-btn" data-src="{% static 'images/vid-2.mp4' %}"></span>
        <span class="vid-btn" data-src="{% static 'images/vid-3.mp4' %}"></span>
        <span class="vid-btn" data-src="{% static 'images/vid-4.mp4' %}"></span>
        <span class="vid-btn" data-src="{% static 'images/vid-5.mp4' %}"></span>
    </div>

    <div class="video-container">
        <video src="{% static 'images/vid-1.mp4' %}" id="video-slider" loop autoplay muted></video>
    </div>

</section>

<!-- home section ends -->

<!-- book section starts  -->

<section class="book" id="book">

    <h1 class="heading">
        <span>r</span>
        <span>e</span>
        <span>s</span>
        <span>e</span>
        <span>r</span>
        <span>v</span>
        <span>a</span>
    </h1>

    <div class="row">

        <div class="image">
            <img src="{% static 'images/book-img.svg' %}" alt="">
        </div>

        <form action="">
            <div class="inputBox">
                <h3>¿Donde vamos?</h3>
                <input type="text" placeholder="Nombre del lugar">
            </div>
            <div class="inputBox">
                <h3>¿Cuantas personas?</h3>
                <input type="number" placeholder="número de personas">
            </div>
            <div class="inputBox">
                <h3>Llegada</h3>
                <input type="date">
            </div>
            <div class="inputBox">
                <h3>Salida</h3>
                <input type="date">
            </div>
            <input type="submit" class="btn" value="Reserva Ahora">
        </form>

    </div>

</section>

<!-- book section ends -->

<!-- packages section starts  -->

<section class="packages" id="packages">

    <h1 class="heading">
        <span>d</span>
        <span>e</span>
        <span>p</span>
        <span>a</span>
        <span>r</span>
        <span>t</span>
        <span>a</span>
        <span>m</span>
        <span>e</span>
        <span>n</span>
        <span>t</span>
        <span>o</span>
        <span>s</span>
    </h1>

    <div class="box-container">

        <div class="box">
            <img src="{% static 'images/vinadelmar.jpg' %}" alt="">
            <div class="content">
                <h3> <i class="fas fa-map-marker-alt"></i> Viña del Mar </h3>
                <p>Departamento espacioso,cocina full equipada,sala de estar y terrazas en una de las áreas más exclusivas de viña. A pasos del Casino.</p>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                </div>
                <div class="price"> $39.000 /noche <span>$50.000</span> </div>
                <a href="#" class="btn">Reservar</a>
            </div>
        </div>

        <div class="box">
            <img src="{% static 'images/vinadelmar2.jfif' %}" alt="">
            <div class="content">
                <h3> <i class="fas fa-map-marker-alt"></i> Viña del Mar</h3>
                <p>Departamento ubicado en la mejor zona de Viña del Mar, con estacionamiento privado, para 4 huéspedes. En medio de la zona más turística de la ciudad. Frente a Playa Acapulco.</p>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                </div>
                <div class="price"> $48.000 /noche <span>$56.000</span> </div>
                <a href="#" class="btn">Reservar</a>
            </div>
        </div>

        <div class="box">
            <img src="{% static 'images/laserena2.jpg' %}" alt="">
            <div class="content">
                <h3> <i class="fas fa-map-marker-alt"></i> La Serena </h3>
                <p>Un inmueble recién construido, con acceso privado a instalaciones propias del recinto, piscina, juegos, restaurante, estacionamiento. </p>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                </div>
                <div class="price"> $90.000 /noche <span>$120.000</span> </div>
                <a href="#" class="btn">Reservar</a>
            </div>
        </div>

        <div class="box">
            <img src="{% static 'images/pucon.jfif' %}" alt="">
            <div class="content">
                <h3> <i class="fas fa-map-marker-alt"></i>Pucón </h3>
                <p>Departamento tipo estudio,en un ambiente tranquilo y natural pero sólo a 5 minutos del centro de Pucón.</p>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                </div>
                <div class="price"> $30.000 /noche <span>$38.000</span> </div>
                <a href="#" class="btn">Reservar</a>
            </div>
        </div>

        <div class="box">
            <img src="{% static 'images/ptovaras.jpg' %}" alt="">
            <div class="content">
                <h3> <i class="fas fa-map-marker-alt"></i> Puerto Varas </h3>
                <p>Departamento nuevo,ubicado en edificio Vista Lago en plena costanera de la ciudad de Puerto Varas muy cercano al centro de la ciudad. Cuenta con patio y vista a los volcanes. </p>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                </div>
                <div class="price"> $ 45.000 /noche<span>$60.000</span> </div>
                <a href="#" class="btn">bReservar</a>
            </div>
        </div>

        <div class="box">
            <img src="{% static 'images/ptovaras2.jpg' %}" alt="">
            <div class="content">
                <h3> <i class="fas fa-map-marker-alt"></i> Puerto varas </h3>
                <p>Alto Patagonia se encuentra emplazado en primera línea frente al Lago Llanquihue, a pasos de excelentes restaurantes y pubs.</p>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                </div>
                <div class="price"> $64.000 /noche <span>$75.000</span> </div>
                <a href="#" class="btn">Reservar</a>
            </div>
        </div>

    </div>

</section>

<!-- packages section ends -->

<!-- services section starts  -->

<section class="services" id="services">

    <h1 class="heading">
        <span>s</span>
        <span>e</span>
        <span>r</span>
        <span>v</span>
        <span>i</span>
        <span>c</span>
        <span>i</span>
        <span>o</span>
        <span>s</span>
    </h1>

    <div class="box-container">

        <div class="box">
            <i class="fas fa-hotel"></i>
            <h3>Precios asequibles </h3>
            <p>Contamos con precios realistas y acorde a lo que ofrecemos.</p>
        </div>
        <div class="box">
            <i class="fas fa-car"></i>
            <h3>transporte</h3>
            <p>Despreocupate de como llegar a tu estadia con nuesstro servicio de transporte.</p>
        </div>
        <div class="box">
            <i class="fas fa-bullhorn"></i>
            <h3>Tours</h3>
            <p>Tenemos tours y guías para explorar de mejor manera el lugar que eligas para vacacionar.</p>
        </div>




    </div>

</section>

<!-- services section ends -->

<!-- gallery section starts  -->
<!---
<section class="gallery" id="gallery">

    <h1 class="heading">
        <span>g</span>
        <span>a</span>
        <span>l</span>
        <span>e</span>
        <span>r</span>
        <span>i</span>
        <span>a</span>
    </h1>

    <div class="box-container">

        <div class="box">
            <img src="images/g-1.jpg" alt="">
            <div class="content">
                <h3>amazing places</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus, tenetur.</p>
                <a href="#" class="btn">see more</a>
            </div>
        </div>
        <div class="box">
            <img src="images/g-2.jpg" alt="">
            <div class="content">
                <h3>amazing places</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus, tenetur.</p>
                <a href="#" class="btn">see more</a>
            </div>
        </div>
        <div class="box">
            <img src="images/g-3.jpg" alt="">
            <div class="content">
                <h3>amazing places</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus, tenetur.</p>
                <a href="#" class="btn">see more</a>
            </div>
        </div>
        <div class="box">
            <img src="images/g-4.jpg" alt="">
            <div class="content">
                <h3>amazing places</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus, tenetur.</p>
                <a href="#" class="btn">see more</a>
            </div>
        </div>
        <div class="box">
            <img src="images/g-5.jpg" alt="">
            <div class="content">
                <h3>amazing places</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus, tenetur.</p>
                <a href="#" class="btn">see more</a>
            </div>
        </div>
        <div class="box">
            <img src="images/g-6.jpg" alt="">
            <div class="content">
                <h3>amazing places</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus, tenetur.</p>
                <a href="#" class="btn">see more</a>
            </div>
        </div>

    </div>

</section>
-->
<!-- gallery section ends -->

<!-- review section starts  -->

<section class="review" id="review">

    <h1 class="heading">
        <span>r</span>
        <span>e</span>
        <span>s</span>
        <span>e</span>
        <span>ñ</span>
        <span>a</span>
        <span>s</span>
    </h1>

    <div class="swiper-container review-slider">

        <div class="swiper-wrapper">

            <div class="swiper-slide">
                <div class="box">
                    <img src="{% static 'images/pic1.png' %}" alt="">
                    <h3>john deo</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa adipisci quisquam sunt nesciunt fugiat odit minus illum asperiores dolorum enim sint quod ipsam distinctio molestias consectetur ducimus beatae, reprehenderit exercitationem!</p>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="far fa-star"></i>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="box">
                    <img src="{% static 'images/pic2.png' %}" alt="">
                    <h3>john deo</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa adipisci quisquam sunt nesciunt fugiat odit minus illum asperiores dolorum enim sint quod ipsam distinctio molestias consectetur ducimus beatae, reprehenderit exercitationem!</p>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="far fa-star"></i>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="box">
                    <img src="{% static 'images/pic3.png' %}" alt="">
                    <h3>john deo</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa adipisci quisquam sunt nesciunt fugiat odit minus illum asperiores dolorum enim sint quod ipsam distinctio molestias consectetur ducimus beatae, reprehenderit exercitationem!</p>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="far fa-star"></i>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="box">
                    <img src="{% static 'images/pic4.png' %}" alt="">
                    <h3>john deo</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa adipisci quisquam sunt nesciunt fugiat odit minus illum asperiores dolorum enim sint quod ipsam distinctio molestias consectetur ducimus beatae, reprehenderit exercitationem!</p>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="far fa-star"></i>
                    </div>
                </div>
            </div>

        </div>

    </div>

</section>

<!-- review section ends -->

<!-- contact section starts  -->

<section class="contact" id="contact">
    
    <h1 class="heading">
        <span>c</span>
        <span>o</span>
        <span>n</span>
        <span>t</span>
        <span>a</span>
        <span>c</span>
        <span>t</span>
        <span>o</span>
    </h1>

    <div class="row">

        <div class="image">
            <img src="{% static 'images/contact-img.svg' %}" alt="">
        </div>

        <form action="">
            <div class="inputBox">
                <input type="text" placeholder="Nombre">
                <input type="email" placeholder="Correo">
            </div>
            <div class="inputBox">
                <input type="number" placeholder="Número">
                <input type="text" placeholder="Asunto">
            </div>
            <textarea placeholder="Mensaje" name="" id="" cols="30" rows="10"></textarea>
            <input type="submit" class="btn" value="Enviar Mensaje">
        </form>

    </div>
    
</section>

<!-- contact section ends -->

<!-- brand section  -->
<!---
<section class="brand-container">

    <div class="swiper-container brand-slider">
        <div class="swiper-wrapper">
            <div class="swiper-slide"><img src="images/1.jpg" alt=""></div>
            <div class="swiper-slide"><img src="images/2.jpg" alt=""></div>
            <div class="swiper-slide"><img src="images/3.jpg" alt=""></div>
            <div class="swiper-slide"><img src="images/4.jpg" alt=""></div>
            <div class="swiper-slide"><img src="images/5.jpg" alt=""></div>
            <div class="swiper-slide"><img src="images/6.jpg" alt=""></div>
        </div>
    </div>
-->
</section>

<!-- footer section  -->

<section class="footer">

    <div class="box-container">

        <div class="box">
            <h3>Sobre Nosotros</h3>
            <p>Empresa familiar dedicada al arriendo de departamentos,servicios de transporte y tours en zonas turisticas ¡con más de 10 años en el mercado!.</p>
        </div>
        <div class="box">
            <h3>Localidades</h3>
            <a href="#">Viña del Mar</a>
            <a href="#">La Serena</a>
            <a href="#">Pucón</a>
            <a href="#">Puerto Varas</a>
        </div>
        <div class="box">
            <h3>Links rapidos</h3>
            <a href="#">Inicio</a>
            <a href="#">Reserva</a>
            <a href="#">Departamentos</a>
            <a href="#">Servicios</a>
            <a href="#">Reseñas</a>
            <a href="#">Contacto</a>
        </div>
        <div class="box">
            <h3>¡Siguenos!</h3>
            <a href="#">facebook</a>
            <a href="#">instagram</a>
            <a href="#">twitter</a>
        </div>

    </div>

    <h1 class="credit"> creado por <span> MardoTeam </span> | all rights reserved. </h1>

</section>

{% endblock body %}